body{
    background-color: rgb(166, 164, 164);
}
#block1{
    display: flex;
    padding: 50px;
}
/*  La liste du menu */
.menu_ul{
    display: flex;
    list-style-type: none ;  /* Suppression des puces */
}
.menu_il{
    margin-left: 5%;
    margin-right: 5%;
}
#menu{
    position: fixed;
    margin-top: 3%;
    margin-left: 20%;
}
a{
    text-decoration: none;
    color: aliceblue;
}
#profil{
    position: relative;
    left: 45%;
}
.img_profil{
    width: 100px;
}